<h1>Titles</h1>

<!--<div>
<button data-bind="click: function(){getSingleTitle(); getTitleCrew(); getTitleRating(); getCast();}" class="btn btn-primary">Find</button>
Find <input class="form-control" data-bind="value: selectedTitle" />
</div>-->

<div class="container">
    <div class="row mt-5" data-bind="foreach: title">
        <div class="col d-flex justify-content-center" id="PosterDiv">
            <figure>
                <img src="" class="img-fluid align-items-center" id="Poster" alt="No Poster available for this Title"/>
                <figcaption>
                    <span>Primarytitle: <span data-bind="text: primaryTitle"></span></span>
                </figcaption>
            </figure>
        </div> <!--- this is the div for the poster of a movie --->
        <div class="col-6"> <!---data-bind=" style: { 'max-height': $parent.posterHeight()}"--->
            <div class="row align-self-start">
                <span class="col-auto">Type: <span data-bind="visible: titleType, text: titleType"></span></span>
                <span class="col-auto">Start: <span data-bind="visible: startYear, text: startYear"></span></span>
                <span class="col-auto">End: <span data-bind="visible: endYear, text: endYear"></span></span>
            </div>
            <div class="row mt-2 align-self-start" data-bind="foreach: $parent.titleRating">
                <span class="col-auto">Runtime(min): <span data-bind="text: $parent.runTime"></span></span>
                <span class="col-auto">Rating: <span data-bind="text: rating"></span></span>
                <span class="col-auto">Votes: <span data-bind=" text: numVotes"></span></span>
            </div>       
            <div class="row mt-2 align-self-start">
                <div data-bind="visible: poster, text: poster"></div>
            </div>
            <div class="row mt-4 align-self-start overflow-auto">
                <div class="col overflow-auto" data-bind="text: plot "></div>
            </div>
        </div>
    </div>

    
    <!--- new row    
     longest plot: tt1954874--->
    <div class="row mt-5">
        <!--- add rating here --->
        <div class="col text-center" data-bind="visible: cast().length > 0">
            <span>Cast of the Movie</span>
            <table class="table" >
                <thead>
                <tr><th>name</th><th>Character</th></tr>
                </thead>
                <tbody data-bind="foreach: cast">
                <tr>
                    <td data-bind="text: name.name"></td>
                    <td data-bind="text: characterName"></td>
                </tr>
                </tbody>
            </table>
        </div>
    <div class="col text-center" data-bind="visible: crew().length > 0">
        <span>Crew of the Movie</span>
        <table class="table" >
            <thead>
            <tr><th>name</th><th>category</th><th>job</th></tr>
            </thead>
            <tbody data-bind="foreach: crew">
            <tr>
                <td data-bind="text: name.name"></td>
                <td data-bind="text: category"></td>
                <td data-bind="text: job"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
