bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/
.vs/ProjectPortfolio2Group3/xs/UserPrefs.xml
.vs/ProjectPortfolio2Group3/xs/project-cache/Dataservices-Debug-net5.0.json
.vs/ProjectPortfolio2Group3/xs/project-cache/Dataservices-Debug-net5.0-windows.json
