<div class="modal fade" id="updatePasswordModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-primary text-black">
                <h4 class="modal-title">Update Password</h4>
            </div>
            <div class="modal-body">
                <div class="login-main-2">

                    <div class="login-form-input-container">
                        <i class="fa fa-lock icon"></i>
                        <input type="text" data-bind="value: password" placeholder="New password" />
                    </div>

                </div>

                <div class="text-danger" id="updatePasswordMessage"
                     data-bind="visible: updatePasswordMessage().length > 0, text: updatePasswordMessage"></div>

                <div class="modal-footer">
                    <button data-bind="click: updatePassword" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>