
<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-primary text-black">
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <div class="login-main-2">

                    <div class="login-form-input-container">
                        <i class="fa fa-user icon"></i>
                        <input type="text" data-bind="value: username" placeholder="Username" />
                    </div>

                    <div class="login-form-input-container">
                        <i class="fa fa-key icon"></i>
                        <input type="text" data-bind="value: password" placeholder="Password" />
                    </div>

                </div>

                <div class="text-danger" id="loginMessage"
                     data-bind="visible: loginMessage().length > 0, text: loginMessage"></div>

                <div class="modal-footer">
                    <button data-bind="click: login" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>