
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                Username <input class="form-control" data-bind="value: username" />
                Password <input class="form-control" data-bind="value: password" type="password" />
            </div>
            <div class="modal-footer">
                <button data-bind="click: login" class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>