<div class="arrow">
    <div class="arrow-right"></div>
</div>
    <style>
    html,body { height:100%; }
    .arrow {

        width: 8vw;
    }
    .arrow-right {
        width: 30px;
        height: 30px;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left:30px solid #b6d4fe;
        border-radius: 5px;
        position: fixed; /* or absolute */
        top: 50%;
        left:98%;
        opacity: 0;
        transition: 0.2s;
    }
    .arrow:hover > .arrow-right {
        opacity: 1;
    }
</style>