<div class="arrow-body-right " data-bind="click: goToPersonLogicPage">
    <div class="arrow-right"></div>
</div>
    <style>
    html,body { height:100%; width: 100%;  min-height: 100vh; }
    .arrow-body-right {
        float: right;
        height: 100%; min-height: 100vh;
        width: 8vw;      
        cursor: pointer;

    }
    .arrow-right {
        width: 30px;
        height: 30px;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left:30px solid #a3cbff;
        border-radius: 5px;
        position: fixed;
        top: 50%;
        right: -30px;
        transition: 0.4s;
    }
    .arrow-body-right:hover > .arrow-right {
        right: 5px;
    }


</style>