<hr class="my-4">

<div>
    <h4>Bookmarked Titles</h4>
</div>

<hr class="my-4">

<!-- ko if: bookmarkedTitles().length > 0 -->
<div>
    <div class="row" data-bind="foreach: bookmarkedTitles">
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card text-white bg-primary mb-3" style="margin: 20px; width: 100%; cursor: pointer">
                <img class="card-img-top" alt="Card image cap" data-bind="attr: {src: title.awards}" style="object-fit: cover;">
                <div class="card-body d-flex flex-column">
                    <div style="margin-top: auto">
                        <h5 class="card-title align-self-center" data-bind="text: title.primaryTitle"></h5>
                        <p class="card-text align-self-center" data-bind="text: title.plot"></p>
                        <span></span>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Bookmarked</small>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /ko -->
<!-- ko ifnot: bookmarkedTitles().length > 0 -->
<div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
    <div class="card text-white bg-primary mb-3" style="margin: 20px; width: 100%; cursor: pointer">
        You haven't made any bookmark.
    </div>
</div>
<!-- /ko -->